<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css')}}"/>
      {%form_theme form 'bootstrap_3_layout.html.twig'%}
      {% for flashMessage in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
          {{flashMessage}}
        </div>
      {% endfor %}
      {% for flashMessage in app.session.flashBag.get('failure') %}
        <div class="alert alert-danger">
          {{flashMessage}}
        </div>
      {% endfor %}
    </head>
    <body>
      <div class="container">
      <h2>Liste des notes</h2>

      <a href="{{ path('new_note') }}">
        <button type="button" class="btn btn-default">Nouvelle note</button>
      </a>
      <a href="{{ path('check_categories') }}">
        <button type="button" class="btn btn-default">Catégories</button>
      </a><br><br>

      {{ form(form) }}
      {% for note in notes %}
        <div class="well well-sm">
          <b>{{note.title}}</b><br>
          <i>{{note.categorie.name}}</i> -
          {{note.date|date('d/m/Y')}}
          <div style="background-color:white;">
            {{note.content}}<br><br>
          </div>
          <a href="{{ path('edit_note', {'id':note.id}) }}">
            <span class="glyphicon glyphicon-edit"
             style="font-size:15px;color:#4682B4;"></span>
          </a>
          <a href="{{ path('delete_note', {'id':note.id}) }}">
            <span class="glyphicon glyphicon-remove"
             style="font-size:15px;color: #CD5C5C;"></span>
          </a>
        </div>
      {% endfor %}
      <script src="{{ asset('bootstrap/js/jquery-3.1.1.js') }}"></script>
      <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    </div>
  </body>
</html>
